*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoPub Batang';
    list-style: none;/*quita los puntos de las listas*/
    text-decoration: none;/*quita el subrayado de los links*/
    scroll-behavior: smooth;/*hace que el scroll sea suave*/
    scroll-padding-top: 3rem;
}

/*Colores definidos*/
:root{
    --main-superior: #202020;
    --main-dos: #2e234d;
    --gris:#000;

    /*tamano de fuentes*/
    --big-font: 4.5rem;
    --h2-font: 2.5rem;
    --p-font: 1.1rem;
}
body{
    color:white;
}
main{
    display: flex;
    align-items: flex-start;
}

/*FILTRAR POR SUBCATEGORIAS*/
.categoria_h{
    display: flex;
    flex-direction: column;
    
    margin: 20px;
    color: var(--main-superior);
    width: 300px;
    height: 480px;
    border-radius: 15px;
    border: 1px solid #dadada;

}
.hardware_tipos_h{
    display: flex;    
    color: var(--main-superior);
}
.letra_filtrar{
    font-family: 'Volkhov';
    font-size: 20px;
    margin-bottom: 17px;
    padding: 20px 0 0 20px;
}
.txt_h{
    font-family: 'Volkhov';
    font-size: 17px;
    padding-left: 20px;
}
.hardware_tipos_h ul li{
    margin: 10px 0 10px 28px;
    padding-left: 24px;
}
.filtrar_precio_h{
    display: flex;
    flex-direction: column;
}
.btn_filtrar{
    width: 78px;
    height: 25px;

}
.btn_f{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 20px;
}
.hr_h{
    border: 1px solid #dadada;
    margin: 20px 0;
}
.letra_filtrar_2{
    font-family: 'Volkhov';
    font-size: 20px;
    padding-left: 20px;
}
.btn_filtrar{
    margin-right: 20px;
    width: 80px;
    height: 25px;
}
input{
    margin-right: 5px;
}
/*PRODUCTOOOOS--------------------------------*/
.productos_nuevos_h{
    display: flex;
    /*background-color: yellow;*/
    width: 100%;
    padding: 0 25px;
    justify-content: center;
}
.contenedor_productos_h{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

.producto_1_h{
    width: 245px;
    height: 460px;
    border: 1px solid #dadada;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
}
.img_producto_h{
    display: flex;
    height: 225px;
    justify-content: center;
    align-items: center;
}
.contenedor_principal_h{
    width: 100%;
}
.descripcion_producto_h{
    color: var(--main-superior);
    display: flex;
    flex-direction: column;
    padding: 10px 23px  10px 23px;
}
.compras_h{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 13px;
    padding: 6px 0;
    border-radius: 12px;
    color: white;
    background-color: var(--main-superior);

}
.cantidad_h{
    margin-top: 16px;
    width: 50px;
    height: 35px;
    border-radius: 12px;
    background-color: var(--main-superior);
    padding-left: 10px;
    color: white;
}
.img_producto_h img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    padding: 20px;
}


